
<div class="col-md-4 side-bar">

	<div class="secound_half">
		<div class="popular-news">
			<div class="popular-grids">
				<div class="popular-grid">
					<a href="single.html">
						<img src="~/web/images/popular-4.jpg" alt=""
							 style="height: 440px;" />
					</a>
				</div>
			</div>
		</div>
		<div class="popular-news">
			<header>
				<h3 class="title-popular">popular News</h3>
			</header>
			<div class="popular-grid">
				<a href="single.html"><img src="~/web/images/popular-4.jpg" alt="" /></a>
				<a class="title" href="single.html">
					It is a long established fact that a reader will be
					distracted
				</a>
				<p>
					On Aug 31, 2015 <a class="span_link" href="#">
						<span class="glyphicon glyphicon-comment"></span>0
					</a><a class="span_link"
						   href="#"><span class="glyphicon glyphicon-eye-open"></span>250 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>68</a>
				</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>